.auth-background {
  width: 100%;
}
.form-container {
  width: 80%;
}
.auth-logo {
  position: absolute;
  top: 24px;
  left: 24px;
}

@media only screen and (max-width: 1000px) {
  .form-container {
    width: 100%;
  }
  .auth-background {
    display: none;
  }
}
